.i1 {
    font: 700 3.6rem "Montserrat";
    color: #ffffff;
    background-color: #003466;
    padding-left: 50rem
}

.i2 {
    width: 35%;
    height: 3rem;
    margin-top: 0.2rem;
    margin-bottom: 0.1rem;
    border-radius: 0.8rem;
    background-color: #ffffffc2;
    border: 1px solid;
    outline: 0;
    font: 1.3rem Archivo;
    padding-left: 1rem;
    margin-left: 35rem;
}
.i3{
    font:1.5rem "Montserrat";
    margin-top: 10rem;
    margin-left: 35rem;
    margin-bottom: 40%;
}